<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<p id="notice"><%= notice %></p>

<table>
  <div class="img_bk">
    <div class="header">
      <h1>Musée virtuel</h1>
      <h2>Plus de 50 oeuvres sont présentes sur cette page</h2>
    </div>
  </div>
</table>
<div class="bk">
<%= link_to 'Ajouter une oeuvre', new_musee_path %>

  <div class="theme">
    <h1> Ceci est un test </h1>
    <p> oui </p>
  </div>
    <div class="alignement">
      <% @musees.each do |musee| %>
        <div class="alignement2">
          <img src="<%= musee.Œuvre %>" />
          <p class="titre"><%= musee.Titre %></p>
          <hr>
          <p class="description" > <u>Description :</u> <br> <span class="margin"><%= musee.Description %> </p>
          <p class="description"> <u>Date :</u> <br> <%= musee.Date %></p>
          <p class="description"> <u>Dimensions :</u> <br><%= musee.Dimensions %></p>
          <p class="description"> <u>Auteur :</u> <br><%= musee.Auteur %></p>
          <div class="jaune">
            <%= link_to 'Montrer', musee %>
            <%= link_to 'Modifier', edit_musee_path(musee) %>
            <%= link_to 'Supprimer', musee, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>


